#root {
    display: flex;
}
.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    height: 300px;
    border: 2px solid black;
    background-color: #00cccc;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.Card:hover{
    transform: scale(1.1);
}