.CardList {
    margin: auto;
    padding: 3rem;
    width: 80%;
    height: 65%;
    overflow: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    grid-gap: 2rem;
}